<!-- Carrossel HTML -->
<div id="carousel" class="carousel-container">
    <div class="carousel-wrapper-{{carousel_id}} carousel-wrapper">
      {% for group in grouped_courses %}
        <div class="carousel-slide">
          {% for course in group %}
            <div class="card">
               <a class="card-direction" href="{% url "course" course.pk %}">
                    <img src="{{ course.image.url }}" alt="{{ course.name }}" class="card-img">
                    <div class="card-content">
                        <h5 class="card-title">{{ course.name }}</h5>
                        <p class="card-text">{{ course.instructor.user.first_name }} {{ course.instructor.user.last_name }}</p>
                        <p class="card-price">R$ {{ course.price }}</p>
                    </div>
                </a>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    <button class="carousel-btn prev-btn" onclick="moveCarousel('{{carousel_id}}', -1)">&#10094;</button>
    <button class="carousel-btn next-btn" onclick="moveCarousel('{{carousel_id}}', 1)">&#10095;</button>
</div>