{% extends "base.html" %}
{% block main_content %}
<div class="content-center container-cart-wrapper">
    <h1>Carrinho<h1>
    <p class="text-sub-">n um curso no carrinho</p>

    <div class="container-course-cart">
        <div>
            <img class="course-img-cart" src="" alt="">
        </div>
        <div>
            <a class="presentation-text">Curso qualquer</a>
            <p class="presentation-sub-text">nome do professor</p>
        </div>
    </div>
<div>
{% endblock main_content %}