{% extends "base.html" %}
{% block main_content %}
<div class="content-center container-cart-wrapper">
    <h1>Carrinho<h1>
    <p class="presentation-sub-text">n um curso no carrinho</p>

    <div class="container-course-cart">
        {% for course_id, course in cart.items %}
            <div class="content-course-cart">
                <div>
                    <img class="course-img-cart" src="{{course.image}}" alt="{{course.name}}">
                </div>
                <div>
                    <a class="presentation-text">{{course.name}}</a>
                    <p class="presentation-sub-text">{{course.instructor}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
<div>
{% endblock main_content %}