{% extends "base.html" %}
{% load static %}
{% block main_content %}
<div class="container-course-wrapper">
    <div class="course-wrapper">
        <div class="content-center container-course-info">
            <div class="container-name-price">
                <div>
                    <h2 class="title-course">{{course.name}}<h2>
                    <p class="description-course">{{course.description}}</p>
                </div>
                <div class="price-course">
                    <p>R$ {{course.price}}</p>
                </div>
            </div>
            <div class="container-info-course-grid">
                <div class="course-time item-grid">
                    <i class="bi icon-course bi-clock-history"></i>
                    <div class="content-info-course">
                        <p class="text-title-grid">8h</p>
                        <p>Para conclusão</p>
                    </div>
                </div>
                <div class="average-rating item-grid">
                    <i class="bi icon-course bi-star"></i>
                    <div class="content-info-course">
                        <p class="text-title-grid">9.2</p>
                        <p>Avaliação Média</p>
                    </div>
                </div>
                <div class="number-students item-grid">
                    <i class="bi icon-course bi-people"></i>
                    <div class="content-info-course">
                        <p class="text-title-grid">{{number_of_students}}</p>
                        <p>Pessoas nesse curso</p>
                    </div>
                </div>
                <div class="certificate item-grid">
                    <i class="bi icon-course bi-file-earmark-text"></i>
                    <div class="content-info-course">
                        <p class="text-title-grid">Certificado</p>
                        <p>De participação</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-center container-learn">
        <div class="learn-one">
            <h2 class="topic_title">O que você vai aprender:</h2>
            <ul>
            {% for learn in learning_list %}
                <li class="items-learn">{{learn}}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="container-instructor container-info-course">
            <div class="instructor-info">
                <img src="{{course.instructor.image.url}}" class="profile-instructor-image" alt="">
                <p class="name-instructor">{{course.instructor.user.first_name}} {{course.instructor.user.last_name}}</p>
            </div>
            <div class="container-instructor-description">
                <p class="instructor-description">{{course.instructor.description}}</p>
            </div>
        </div>
    </div>
    <div class="container-content-course content-center">
        <h2>Conteúdo do Curso</h2>
        <div class="content-course">
        {% if course.modules.all %}
            {% for module in course.modules.all %}
                <div class="module-content">
                    <div class="module">
                        <i onclick="displayClasses('{{module.pk}}')" id="arrow-{{module.pk}}" class="bi bi-chevron-down"></i>
                        <p>{{module.title}}</p>
                    </div>
                </div>
                <div id="classes-{{module.pk}}" class="content-class">
                    {% if module.classes.all %}
                        {% for class in module.classes.all %}
                            <div class="class-item">{{class.title}}</div>
                        {% endfor %}
                    {% else %}
                        <p style="margin: 0"><b>Não existe aulas nesse modulo</b></p>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p style="margin: 0"><b>Não existe Conteudo</b></p>
        {% endif %}
        </div>
    </div>
</div>

{% endblock main_content %}