{% extends "base.html" %}
{% load static %}
{% block main_content %}
<div class="container-course-purchased">
    <div>
        <video class="video-lesson" id="videoLesson" controls>
            <source id="urlVideo" src="">
        </video>
        <h1 class="title-lesson">{{course.name}}</h1>
        <div class="container-certificate-conclusion">
            <p>Certificado</p>
            <div>
              <p>Pegue seu certificado de conclusão</p>
              <a href="{{certificate.url}}" target="_blank">Certificado EduFuture</a>
            </div>
        </div>
        <div class="container-certificate-conclusion">
            <p>Descrição</p>
            <div>
              <p>{{course.description}}</p>
            </div>
        </div>
    </div>
    <div class="content-course-purchased">
        <div class="content-course">
            <h2>Conteúdo do Curso</h2>
            {% if modules_dict %}
                {% for module_title, classes in modules_dict.items %}
                    <div class="module-content">
                        <div class="module">
                            <i onclick="displayClasses('{{module_title}}')" id="arrow-{{module_title}}" class="bi bi-chevron-down"></i>
                            <p>{{module_title}}</p>
                        </div>
                    </div>
                    <div id="classes-{{module_title}}" class="content-class">
                        {% if classes %}
                            {% for classe in classes %}
                                <div style="cursor: pointer; margin: 0;" onclick="displayClassVideo('{% get_media_prefix %}{{ classe.video }}', this)" class="class-item" courseId="course-{{course.pk}}" classId="lesson-{{classe.id}}">
                                    <input type="checkbox" onclick="event.stopPropagation(); finishClass(this, {{classe.id_student_classes}})" {% if classe.completed %}checked{% endif %}>
                                    {{ classe.title }}
                                </div>    
                            {% empty %}
                                <p><b>Não existe aulas nesse módulo</b></p>
                            {% endfor %}
                        {% else %}
                            <p><b>Não existe aulas nesse módulo</b></p>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <p><b>Não existe Conteúdo</b></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock main_content %}



