{% extends "base.html" %}
{% load static %}
{% block main_content %}
<div class="container-banner-home">
    <img src="{% static "img/banner edufuture.png" %}" class="img-banner" alt="logo edufuture">
</div>
<div class="container-presentation-text">
    <h2 class="presentation-text">Todos os conhecimetos necessarios em um só lugar<h2>
    <p class="presentation-sub-text">Cursos completos e qualificados apoiados pela EduFuture<p>
</div>
<div class="course-container">
    <div class="container my-5">
        <div class="d-flex flex-row flex-wrap justify-content-between">
            <div class="card m-2">
                <img src="" class="card-img-top" aut="">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <p class="text-primary fw-bold"></p>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}