{% extends "base.html" %}
{% load static %}
{% block main_content %}
<div class="container-banner-home">
    <img src="{% static "img/banner edufuture.png" %}" class="img-banner" alt="logo edufuture">
</div>
<div class="container-presentation-text content-center">
    <h2 class="presentation-text">Todos os conhecimetos necessarios em um só lugar<h2>
    <p class="presentation-sub-text">Cursos completos e qualificados apoiados pela EduFuture<p>
</div>
<div class="course-container content-center">
    <div id="carousel" class="carousel-container">
        <div class="carousel-wrapper">
          {% for group in grouped_courses %}
            <div class="carousel-slide">
              {% for course in group %}
                <div class="card">
                   <a class="card-direction" href="#">
                        <img src="{{ course.image.url }}" alt="{{ course.name }}" class="card-img">
                        <div class="card-content">
                            <h5 class="card-title">{{ course.name }}</h5>
                            <p class="card-text">{{ course.instructor.user.first_name}} {{ course.instructor.user.last_name}}</p>
                            <p class="card-price">R$ {{ course.price }}</p>
                        </div>
                    </a>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
        <button class="carousel-btn prev-btn" onclick="moveCarousel(-1)">&#10094;</button>
        <button class="carousel-btn next-btn" onclick="moveCarousel(1)">&#10095;</button>
    </div>
    <div>
        <div class="container-presentation-text content-center">
            <h2 class="presentation-text">Cursos do seu interesse<h2>
        </div> 
    </div>      
</div>
{% endblock main_content %}