{% extends "base.html" %}
{% block main_content %}
<div class="adjust-form-login">
    <form method="post" action="{% url "login" %}" >
        <h1 class="h3 mb-3 fw-normal">Por favor, faça login</h1>
        <div class="container-input-login">
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInputLogin" placeholder="username" name="username">
              <label for="floatingInputLogin">Usuário</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingPasswordLogin" placeholder="password" name="password">
              <label for="floatingPasswordLogin">Senha</label>
            </div>
        </div>

        <div class="text-start my-3">
            <a href="{% url "register-user" %}" class="register-link">Não tem cadastro?</a>
        </div>
        <div class="container-message-error">
          <p id="messageError"></p>
        </div>
        <button onclick="loginUser(event)" class="btn btn-login w-100 py-2" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2024</p>
    </form>
</div>
{% endblock main_content %}

